maven_home: /opt/maven
maven:
  version: 3.3.9
  source_url: http://www.us.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.tar.gz
  source_hash: http://www.us.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.tar.gz.sha1
  prefix: /usr/lib
  m2_home: /usr/lib/apache-maven
  dl_opts: -s
  unpack_opts: 
  archive_type: tar
  real_home: /opt/maven
  symlink: /usr/bin/mvn
  realcmd: /opt/maven/bin/mvn
  alt_priority: 10000
  orgdomain: example.com
  scmhost: svn01
  repohost: repository
  archetypes: http://repository.example.com/content/repositories/releases/archetype-catalog.xml

