mvn:
  version: 3.1.1
  source: http://www.us.apache.org/dist/maven/maven-3/3.1.1/binaries/apache-maven-3.1.1-bin.tar.gz
  source_hash: md5=6342fdf6b0aabc1457c7f8cc218127ed
  prefix: /usr/share/apache-maven

